.component{
    width: auto;
}

.products{
    margin-right:auto;
}

.container{
    display: flex;
}

.table-values{
    width: 100px; 
    text-align: right;
}

#categories{
    width: 200px; 
    text-align: right;
}

#amount{
    width: 50px;
}

#add-cart{
    text-decoration: underline; 
    cursor: pointer;
}

#filtering{
    width: 200px; 
    text-align: right;
}