<div style="width: auto;">
  <div style="display:flex;">
    <div>
      <label>Search: <input [(ngModel)]="filter.name" placeholder="Search products"></label>
    </div>
      <div style="width: 200px; text-align: right;">
          <label for="limit">Show</label>
          <select name="limit" [(ngModel)]="limit">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
          </select>&nbsp;products&nbsp;
      </div>

    <!-- Could implement later 
      <input type="number" name="page" [(ngModel)]="page" min="1" max="1" [attr.max]="[numberOfProducts]" step="1" placeholder="Page"> -->
  
    </div>
  <hr>
  <div style="display:flex;">
    <div style="margin-right:auto">Products</div>    
    <div style="display:flex">
      <div>

      </div>
      <div style="width: 200px; text-align: right;">Category
          <select [(ngModel)]="filter.category">
            <option selected value="">All categories</option>
            <option value="Baking Goods">Baking Goods</option>
            <option value="Fruit">Fruit</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Candy">Candy</option>
            <option value="Meat">Meat</option>
          </select>
      </div>
      <div style="width: 100px; text-align: right;">Stock</div>
      <div style="width: 100px; text-align: right;">Price</div>
      <div style="width: 100px; text-align: right;">Sale</div>
      <div style="width: 100px; text-align: right;">Package Deal</div>
      <div style="width: 100px; text-align: right;">Add to Cart</div>
    </div>
  </div>
  <hr>
  <div style="display:flex;" *ngFor="let product of products | productfilter:filter | slice:(page-1)*limit:page*limit">
    <div style="margin-right:auto">
      {{ product.name }}
      <br>
      ProductID: {{ product.id }}
    </div>
    <div style="width: 100px; text-align: right;">{{ product.category }}</div>
    <div style="width: 100px; text-align: right;">{{ product.stock }}</div>
    <div style="width: 100px; text-align: right;">{{ product.price | number : '1.2-2'}}</div>
    <div style="width: 100px; text-align: right;">{{ product.salePercentage }}%</div>
    <div style="width: 100px; text-align: right;" *ngIf="product.packageDeal==null;  else showDeal">/</div>
    <ng-template #showDeal>
      <div style="width: 100px; text-align: right;">{{ product.packageDeal.get }} for {{ product.packageDeal.pay }} </div>
    </ng-template>
    <div style="width: 100px; text-align: right;">
      <span style="text-decoration: underline; cursor: pointer;" (click)="addProduct(product)">Add to Cart</span>
    </div>
  </div>
  <div *ngIf="products.length < 1">No products for sale</div>
  <hr>
</div>
