<div class="component">
  <div class="container">
    <div>
      <label>Search: <input name="search" [(ngModel)]="filter.name" placeholder="Search products"></label>
    </div>
      <div id="filterting">
          <label for="limit">Show</label>
          <select name="limit" [(ngModel)]="limit">
            <option selected value="">All</option>
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>&nbsp;products&nbsp;
      </div>

    </div>
  <hr>
  <div class="container">
    <div class="products">Products</div>
    <div class="container">
      <div>

      </div>
      <div id="categories">Category:
          <select name="category" [(ngModel)]="filter.category">
            <option selected value="">All categories</option>
            <option value="Baking Goods">Baking Goods</option>
            <option value="Fruit">Fruit</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Candy">Candy</option>
            <option value="Meat">Meat</option>
          </select>
      </div>
      <div class="table-values">Stock</div>
      <div class="table-values">Price</div>
      <div class="table-values">Amount</div>
      <div class="table-values">Add to Cart</div>
    </div>
  </div>
  <hr>
  <div class="container" *ngFor="let product of products | productfilter:filter | slice:(page-1)*limit:page*limit">
    <div class="products">
      {{ product.name }}
      <br>
      ProductID: {{ product.id }}
    </div>
    <div class="table-values">{{ product.category }}</div>
    <div class="table-values">{{ product.stock }}</div>
    <div class="table-values">{{ product.price | number : '1.2-2'}}</div>
    <div class="table-values"><input [(ngModel)]="product.amount" id="amount" value="1" type="number" min="0" step="1"/></div>
    <div class="table-values">
      <span id="add-cart" (click)="addProduct(product)">Add to Cart</span>
    </div>
  </div>
  <div *ngIf="products.length < 1">No products for sale</div>
  <hr>
</div>
