<div style="display:flex;">
  <div style="margin-right:auto">Order</div>
  <div style="display:flex">
    <div style="width: 100px; text-align: right;">Products</div>
    <div style="width: 200px; text-align: right;">Status</div>
  </div>
</div>
<hr>
<div style="display:flex;" *ngFor="let order of orders">
  <div style="margin-right:auto">
    OrderID: {{ order.id }}<br>
    Customer: {{ order.customer.username }}
  </div>
  <div style="width: 100px; text-align: right;">
    {{order.products.length}}
  </div>
  <div style="width: 200px; text-align: right;">
    <select [(ngModel)]="order.status" id="orderStatus" (change)="updateOrder(order)">
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let item of categories">{{item}}</option>
    </select>
  </div>
</div>
<div *ngIf="orders.length < 1">No orders</div>
