<div id="cart">
  <div class ="container">
    <div id="title">Products</div>
    <div class ="container">
      <div class ="table">Amount</div>
      <div class ="table">Price</div>
      <div class ="table">Sale</div>
      <div class ="table">Package Deal</div>
      <div class ="table">Total</div>
      <div class ="table">Delete</div>
    </div>
  </div>
  <hr>
  <div class ="container" *ngFor="let product of cart">
    <div style="margin-right:auto">
      {{ product.name }} - {{ product.category }}
      <br>
      ProductID: {{ product.id }} Stock: {{ product.stock }}
    </div>
    <div class ="table">{{ product.amount }}</div>
    <div class ="table">{{ product.price | number : '1.2-2'}}</div>
    <div class ="table">{{ product.salePercentage }}%</div>
    <div class ="table" *ngIf="product.packageDeal==null;  else showDeal">/</div>
    <ng-template #showDeal>
      <div class ="table">{{ product.packageDeal.get }} for {{ product.packageDeal.pay }} </div>
    </ng-template>

    <div class ="table">{{ getTotal(product) | number : '1.2-2'}}</div>
    <div class ="table"><span style="text-decoration: underline; cursor: pointer;" (click)="removeProduct(product)">Delete</span></div>
  </div>
  <div *ngIf="cart.length < 1">No products in cart</div>
  <hr>
  <div class="container">
    <div id="sum">Total Sum: {{ getTotalSum() | number : '1.2-2' }}</div>
  </div>
  <hr>
  <div style="text-align: right;" ><span style="text-decoration: underline; cursor: pointer;">Buy</span></div>
</div>
