<div style="border-bottom: 1px solid black; display: flex; padding: 5px">
  <div style="margin-right: auto">
    <div><a routerLink="/" routerLinkActive="active">Products</a></div>
  </div>
  <div><a routerLink="/cart" routerLinkActive="active">Cart</a></div>
  <div style="display: flex"*ngIf="!loggedIn">
    <div style="margin-left: 10px"><span style="text-decoration: underline; cursor: pointer;" (click)="logIn()">Login</span></div>
    <div style="margin-left: 10px"><span style="text-decoration: underline; cursor: pointer;">Register</span></div>
  </div>
  <div style="display: flex"*ngIf="loggedIn">
    <div style="margin-left: 10px"><span style="text-decoration: underline; cursor: pointer;" (click)="logOut()">Logout</span></div>
    <div style="margin-left: 10px"><a routerLink="/admin" routerLinkActive="active">Admin</a></div>
  </div>
</div>
