<h2>Add New Product:</h2>
<div>
  <label>Name:
    <input #productName />
  </label>
  <label>Category:
    <input #productCategory />
  </label>
  <label>Stock:
    <input #productStock />
  </label>
  <label>Price:
    <input #productPrice />
  </label>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(productName.value, productCategory.value,
  productStock.value,productPrice.value)">
    add
  </button>
</div>
<div style="display:flex;">
  <div style="margin-right:auto">Products</div>
  <div style="display:flex">
    <div style="width: 100px; text-align: right;">Category</div>
    <div style="width: 100px; text-align: right;">Stock</div>
    <div style="width: 100px; text-align: right;">Price</div>
    <div style="width: 100px; text-align: right;">Edit</div>
  </div>
</div>
<hr>
<div style="display:flex;" *ngFor="let product of products">
  <div style="display:flex; width: 100%;" *ngIf="selectedProduct==product; else elseBlock">
    <div style="margin-right:auto">
      <input [(ngModel)]="selectedProduct.name" placeholder="name">
      <br>
      ProductID: {{ product.id }}
    </div>
    <div style="width: 100px; text-align: right;"><input style="width: 90px;" [(ngModel)]="selectedProduct.category" placeholder="category"></div>
    <div style="width: 100px; text-align: right;"><input style="width: 90px;" [(ngModel)]="selectedProduct.stock" placeholder="stock"></div>
    <div style="width: 100px; text-align: right;"><input style="width: 90px;" [(ngModel)]="selectedProduct.price" placeholder="stock"></div>
    <div style="width: 100px; text-align: right;">
      <span style="text-decoration: underline; cursor: pointer;" (click)="onSelect(null)">Done</span>
    </div>
  </div>
  <ng-template #elseBlock>
    <div style="margin-right:auto">
      {{ product.name }}
      <br>
      ProductID: {{ product.id }}
    </div>
    <div style="width: 100px; text-align: right;">{{ product.category }}</div>
    <div style="width: 100px; text-align: right;">{{ product.stock }}</div>
    <div style="width: 100px; text-align: right;">{{ product.price | number : '1.2-2'}}</div>
    <div style="width: 100px; text-align: right;">
      <span style="text-decoration: underline; cursor: pointer;" (click)="onSelect(product)">Edit</span>
    </div>
  </ng-template>
</div>
<div *ngIf="products.length < 1">No products for sale</div>
