<h1>Super Awesome Shopping Cart!</h1>
<div style="width: 100%">
  <div style="display:flex;">
    <div style="margin-right:auto">Product</div>
    <div style="display:flex">
      <div>Price</div>
      <div style="margin-left:20px">Delete</div>
    </div>
  </div>
  <hr>
  <div style="display:flex;" *ngFor="let product of cart">
    <div style="margin-right:auto">{{ product.name }}<br>In storage: {{ product.amount }}</div>
    <div>{{ product.price | number : '1.2-2'}}</div>
    <div style="margin-left:20px" (click)="removeProduct(product)">Delete</div>
  </div>
  <hr>
  <div style="display:flex;">
    <div style="margin-left:auto">Total Sum: {{ getTotalSum() | number : '1.2-2' }}</div>
  </div>
</div>
