<div class="container">
  <div id="order">Order</div>
  <div class="container">
    <div class="orders">Products</div>
    <div class="orders">Status</div>
  </div>
</div>
<hr>
<div class="container" *ngFor="let order of orders">
  <div id="order">
    OrderID: {{ order.id }}<br>
    Customer: {{ order.customer.username }}
  </div>
  <div class="orders">
    {{order.products.length}}
  </div>
  <div class="orders">
    {{order.status}}
  </div>
</div>
<div *ngIf="orders.length < 1">No orders</div>
